@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
.navbar{
    
    background-color: grey;
    

}

.container-fluid{
    background-image: url("/img/ipage.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 20%;
    font-size: 18px;
    font-family: 'Langar', cursive;
    font-weight: bold;
    color: white;
}
.Table{
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'Redressed', cursive;
    
}
.card{
    background-color: black;
    width: 47rem;
    
}
form{
    width: 40%;
    margin-left: 30%;
   background-color: black;
    
    
    
}